@font-face {
    font-family: 'kionaregular';
    src: url('fonts/kiona/kiona-regular-webfont.woff2') format('woff2'),
         url('fonts/kiona/kiona-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kionaitalic';
    src: url('fonts/kiona-italic/kiona-itallic-webfont.woff2') format('woff2'),
         url('fonts/kiona-italic/kiona-itallic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Adobe Garamond Pro Bold
font-family: adobe-garamond-pro, serif;
font-weight: 700;
font-style: normal;


Adobe Garamond Pro Italic
font-family: adobe-garamond-pro, serif;
font-weight: 400;
font-style: italic;


Adobe Garamond Pro Regular
font-family: adobe-garamond-pro, serif;
font-weight: 400;
font-style: normal;*/



h1 {font-family: 'kionaregular', sans-serif; font-size: 28px;}

h2 {font-family: 'kionaregular', sans-serif; font-size: 20px; }

h3 {font-family: 'kionaregular', sans-serif; font-size: 16px;} 

/* buttons */
h4 {font-family: 'kionaregular', sans-serif; font-size: 14px;}

h5 {font-family: 'adobe-garamond-pro', serif; font-weight: 700; font-style: normal; font-size: 13px;}

h6 {font-family: 'adobe-garamond-pro', serif; font-style: normal; font-size: 13px;}

a {text-decoration: none;}




/*  PAGE STYLES  */

/*h3 {margin-top: 30px; margin-bottom: 5px;}*/

#section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8 {width: 100%; border-top: 4px solid #738498; padding-top: 10px;}

#section1 {height: 420px;}

#section2 {height: 480px;}

#section3 {height: 240px;}

#section4 {height: 400px;}

#section5 {height: 260px;}

#section6 {height: 240px;}

#section7 {height: 360px;}

/*body {
    background-color: #355662; opacity: 0.2;
}*/



/*  COLOR SCHEME STYLES   */

#swatch {height: 160px; width: 140px; float: left; text-decoration: none; color: #202638; font-size: 12px; padding: 0;} 

#greybeblue {background-color: #B6BDCB; width: 140px; height: 50px; float: left; margin-bottom: 5px;}

#stormscoming {background-color: #7E8595; width: 140px; height: 50px; float: left; margin-bottom: 5px;}

#duskdeepening {background-color: #666C77; width: 140px; height: 50px; float: left; margin-bottom: 5px;}

#babyishblue {background-color: #738498; width: 140px; height: 50px; float: left; margin-bottom: 5px;}

#godarker {background-color: #444647; width: 140px; height: 50px; float: left; margin-bottom: 5px;}

#definitelyforest {background-color: #5A645B; width: 140px; height: 50px; float: left; margin-bottom: 5px;}

#crazycalm {background-color: #727F74; width: 140px; height: 50px; float: left; margin-bottom: 5px;}

#section1-1 {float: left;}


/*  FONT STYLES  */
#section2 .font {margin: 30px 0 5px 0 ; border: none;}
#section2 .comment {margin: 5px 0 0 2; border: none;}


/*  LOGO STYLES  */
#logo {width: 240px; float: left; padding: 10;}
#fav {float: left; padding: 0 30px 10px 0;}
#section3 h6 {float: left; width: 310px; margin: 0 10px 10px 0;}
#section3-1 {float: left; width: 300px;}


/*  BOX STYLES  */
/*  margin-top for h1 will need to be lessened if there is more text in h6  */



/*  BUTTON STYLES  */
.button {
    height: 40px; 
    box-shadow: none; 
    float: left; 
    margin: 30px 30px 40px 30px;
    border: solid white 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
} 

.button h4 {margin: 0; padding: 12px 30px; color: white;}

.button a:hover {text-decoration: none;}

.button:hover {background: rgba(255, 255, 255, 0.2); border: solid white 1px; }





/* button styles */
.button1 { 
    box-shadow: none; 
    float: left; 
    padding: 0px;
    color: black;
    border: 1px solid #444647;
    -webkit-transition-duration: 0.4s; /* Safari */

}

.button1 h4, .button1 h4 a {margin: 0; padding: 8px 10px; color: black;}

.button1:hover {background-color: #444647; color: white; text-decoration: none;}

.button1 h4:hover, .button1 a:hover {text-decoration: none; color: white; font-weight:400; }


/*#background {background-color: #444647; float: left; margin: 10px;}*/





/*  UNORDERED LIST STYLES  */

ul {border-left: 6px solid #727F74; margin-left: 20px;}

ul li {list-style: none; margin: 0 0 -5 -20;}

ul h6 a, ul h4 a {font-weight: 700; color: #727F74;} 
h6 a {font-weight: 700; color: #727F74;}
h6 a:hover, h4 a:hover {text-decoration: none; font-weight: 700; color: #B6BDCB;}


/*  BLOCKQUOTE STYLES  */

#blockquote {width: 50%; background-color: #B6BDCB; padding: 10px; 
    margin: 40px 0; align-content: center; 
    float: left;}

#bq1 {color: white; font-size: 34px; margin: 0; text-align: center;}
#bq2 {color: white; font-size: 20px; margin: 0; text-align: center;}
#blockquote h6 {color: white; text-align: center; margin: 10px;}


/*  ICON STYLES  */
#icon {margin: 10; width: 60px;} 







/*   website!   */
body, html {height: 100%;}

.col {padding: 0; margin: 0;}

.row {padding: 0; margin: 0;}

.wrapper {
    background-color: #DCE0E5;
}

.container {
    background-color: white;
}

.myContainer {
    box-shadow: 1px 1px 120px #989FA8;
    padding: 0;
}


/* Navbar Styles */
.myNavbar {
    position: fixed;
    background-color: transparent!important;
/*    background-color: white;*/
    width: 100%;
    font-family: 'kionaregular', sans-serif; 
    font-size: 16px;
    
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
}

.myNavbar.past-main {
    background-color: #3B3D3E!important;
    box-shadow: 0px 0px 20px black;
}


.myNavbar.otherNav {
    background-color: #3B3D3E!important;
/*    box-shadow: 0px 0px 20px black;*/
}

.myNavbar .container {padding: 0; margin: 0;}

.myNavbar .search {align-content: right; font-size: 14px; padding: 6px;}

.navbar-light .navbar-nav .nav-link {color: white;}

.navbar-light .navbar-nav .show>.nav-link {color: white;}

.myNavbar a:hover {color: darkgrey;}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link {color: white;}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {color: darkgrey;}

.dropdown-item.active, .dropdown-item:active {background-color: white;}

.dropdown-menu {background-color: white;}

.navbar ul {
    border: none;
    margin: 0;
    padding: 0;
}

.myNavbar .nav-link {margin-right: 10px;}

.myNavbar a img {width: 120px;}
.nav-tabs {border-bottom: none;}
.navbar-toggler {color: white!important;}


/*  Header Image  */

#header {
    position: relative;
    z-index: 10;
}

#headerimg {width: 100%;}


/*  Tabs Styles  */

.tabposition {
/*    position: absolute; */
    margin-top: -37px;
}

.activetab {
    background-color: white;
}

.notactive {
    background-color: white; 
    opacity: .6;
}

.mytabs {
    margin: 0 20px 0 0; 
    padding: 10px 50px 0 50px; 
    border-radius: 2px;
    text-decoration: none;
}

#myTablist h3:hover {
    color: #727F74;
}

#myTablist h3 {
    text-decoration: none;
    color: black;
    padding-bottom: 0;
}


#myTabContent, #popular {min-height: 200px; padding: 0!important; margin: 0!important;}










/*  Tab Cards  */

.popularcard {
/*    width: 30%;*/
    float: left;
    margin: 0!important;
    padding: 0px;
    border-radius: 0!important;
}

.popularcard h6 {margin-bottom: 20px;}

.myCol {
    padding: 20px; 
    border-bottom: 2px solid lightgrey;}

.card-img-top {
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}

.card-group {
    display: flex;
    padding: 15px;
}



/*Map card*/

#mapimg {width: 100%; padding: 10px 0 20px 0;}
#mapinfo {width: 100%;}
#mapinfo h6 {padding: 10px 0 20px 0;}
#mapinfo .button1 {width: 180px; text-align: center;}


/* Weather Update Card */

#coloraboveimg {width: 100%; background-color: #727F74;}

.weatherupdates img {width: 100%; margin-top: -10px;}
.weatherupdates .col-md-5 {padding: 10px 30px 0 10px;}
.weatherupdates .col-md-5 h2 {color: white; padding: 18px;}
.weatherupdates h6 {margin: 15px 0;}
.weatherupdates .button1 {margin-bottom: 10px;}
.weatherupdates .col-md-7 {border-left: 2px solid #5A645B; padding: 10px 30px 0 30px;}
.weatherupdates .col-md-7 h6 {margin: 0 0 30px 0;}
.weatherupdates .col-md-7 h2 {margin-top: 10px;}
.weatherupdates .table {margin: 20px 0 20px 0; font-family: 'kionaregular', sans-serif; font-size: 16px;}
.weatherupdates .table .day {font-family: 'adobe-garamond-pro', serif; font-weight: 700; font-style: normal; font-size: 13px;}



.faqtab #faqcolorbox {background-color: #738498; padding: 25px 25px 60px 25px; margin: 10px 0 20px 0;}
.faqtab #faqcolorbox img {width: 100%;}
.faqtab #faqcolorbox h2 {color: white; margin-bottom: 15px;}
.faqtab #faqcolorbox h6 {color: white; margin: 15px 0;}
.faqtab #faqcolorbox h6 a {color: #C5CCD6;}
.faqtab #faqcolorbox h6 a:hover {color: #A5ACBA;}
.faqtab .weatherevent h6 {margin: 0 0 30px 0;}
.faqtab .faqtext {padding: 10px 20px 0 10px;}


.faqtab .button {margin: 0;}
.faqtab .button h4 {text-decoration: none; margin: 0; padding: 12px 30px; color: white;}

.faqtab a {color: white;}
.button a:hover {text-decoration: none; font-weight: 400; color: white;}
.button:hover {background: rgba(255, 255, 255, 0.2); border: solid white 1px;}
.faqtab h6 a {color: #A5ACBA; text-decoration: none;}
.faqtab h6 a:hover {color: #738498;}


/*  Blockquote Styles  */

#blockquote {background-color: white; }
#bq1, #bq2, #blockquote h6 {color: black;}



/*  Cards Styles  */

.mycard {
    background-color: #738498;
    height: auto;
    padding: 100px 0 100px 0; 
}

.mycard h1 {color: white; padding: 0; 
    margin: 0px 30px 30px 30px;
}

.mycard h6 {
    margin: 0 30px; 
    padding:  0; 
    color: white;
}

.mycardimage {width: 100%;}

.mycard2 {
    height: auto; 
    background-color: #727F74; 
    text-align: right;
}


.mycard .button {margin-bottom: 0;}
.mycard2 .button {float: right; margin-bottom: 0;}





.parallax { 
    /* The image used */
    background-image: url("../images/headerimg.png");

    /* Set a specific height */
    min-height: 780px;} 

.parallax {
    /* Create the parallax scrolling effect */
    position: initial;
    top: 56px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





/* Newsletter Page */
.NLcol {background-color: #727F74; height: 240px; padding: 20px;}
.NLcol h1 {color: white; margin: 165px 0 0 10px;}

.NLpreview img {width: 100%; padding: 20px 0 20px 0px;}
.NLpreview .col-md-5 {padding: 20px 20px 20px 20px;}
.NLpreview .col-md-5 h4 {padding-bottom: 20px;}
.NLpreview .col-md-5 a {text-decoration: none; color: #727F74;}
.NLpreview .col-md-5 a:hover {text-decoration: none; color: #444647;}

.NLposts h2 {padding-left: 20px;}
.NLposts .card-deck {padding: 20px;}

.NLcard h2 {padding-left: 0;}
.NLcard h6 {padding-bottom: 10px;}

.NLdeck {padding-top: 0px!important;}

.NLloadbutton {margin: 0 20px 20px 20px;}
.NLloadbutton a {text-decoration: none; color: #727F74;}
.NLloadbutton a:hover {text-decoration: none; color: #444647;}

/*  footer styles  */

footer {
    width: 100%;
    margin: 0!important;
    background-color: #444647;
    padding-top: 20px;
}

footer .col-md-3 {}
footer .col-md-4 {background-color: #3B3D3E; padding: 25px; }
footer .col-md-5 {padding-top: 20px;}

footer .container {margin: 0; padding: 0; width: 100%;}

footer a img {width: 100%; max-width: 200px; margin: 20px 20px 20px 0;}

footer h2 {color: white; font-size: 16px; margin-bottom: 20px;}
footer h3 {color: white; margin-top: 20px; font-size: 14px; }
footer h4 {color: white;}
footer a {text-decoration: none; font-size: 16px; color: white;}
footer a:hover {color: #727F74; text-decoration: none;}
footer .black a {font-size: 10px;}



footer .black {padding: 0; margin: 20px 0 0 0; background-color: #303233;}
footer .black h4 {color: white; padding: 5px 5px 0 15px; font-size: 8px;}











/*   responsive media queries:  */

@media screen and (max-width: 1200px) and (min-width: 0) {
    
}

@media screen and (max-width: 1024px) and (min-width: 0) {
    .myContainer {margin: 0!important;}
    .container {max-width: 100%;}
    .mytabs {margin: 0 15px 0 0; padding: 10px 20px;}
    .faqtab #faqcolorbox {}
    .faqtab .faqtext {padding: 20px;}
    .myNavbar .search {display: none;}

}

@media screen and (max-width: 768px) and (min-width: 0) {
    .mytabs {margin: 0 10px 0 0; padding: 10px;}
    .mycard2 {order: 2; text-align: left;}
    .mycard2 .button {float: left;}
    .weatherupdates .col-md-7 {border-left: none; padding: 30px 0 0 10px;}

}

@media screen and (max-width: 320px) and (min-width: 0) {
    
}


